@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



h2 {
    font-family: 'Aquarelle';
    font-size: 48px;
    color: #575b36;
    line-height: 1.3;
}

h3 {
    font-family: 'Aquarelle';
    font-size: xx-large;
    color: green;
}

p {
    font-family: 'Nexa';
    font-size: 25px;
    color: black;
}

.nx ul li {
    font-family: 'Nexa';
    font-size: 25px;
}

hr {
    height: 1px;
    background-color: black;
}

@media screen and (min-width: 1200px) {

body {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

.main {
        background-image: url(background_hq.jpg);
        background-size: cover;
        width: 1000px;
        height: 650px;
        margin: 100px auto;   
        padding: 20px;
        border: 1px solid black;
        border-radius: 2px;
}
    
.grid-container {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 85% 15%;
        height: 650px;
        font-family: 'Nexa';
        
}

 
.data {
        grid-column: 1/2;
}
    
.data p {
        margin-left: 20px;
        color: black;
        font-family: 'Aquarelle';
        font-size: 32px;
        cursor: pointer;
}
    
.text-plan, .text-data, .text-road, .text-contact, .text-details {
        grid-column: 2 / 3;
        text-align: center;
        display: none;
       
}




.table-text li {
    list-style: none;
    text-align: start;
    margin-left: 100px;
    font-family: 'Roboto';
    font-size: large;
}

.table-text2 li {
    list-style: none;
    text-align: start;
    margin-left: 50px;
    font-family: 'Roboto';
    font-size: large;
}

.text-contact {
    margin-left: 100px;
    font-size: 25px;
}

.dresscode {
    width: 450px;
    margin-left: 50px;
}

.footer {
    grid-area: 2 / 1 / 3 / 3;
    margin: 0 0 0 0;
    text-align: center;
}

.footer ul {
    display: flex;
    list-style: none;
    margin-left: 10px;
}

.footer ul li {
    width: 350px;
    margin-right: 10px;
    color: black;
    font-family: 'Aquarelle';
    font-size: 32px;
    cursor: pointer;
}

.AK {
    display: flex;
    margin-left: 100px;
}

.AK p {
    margin-top: 20px;
}

.AK h2 {
    font-size: 32px;
    margin-left: 20px;
    margin-top: 18px;
}



}

.text-contact p {
    color: black;
    
}

.footer ul li:hover, a:hover, .data p:hover {
    color: green;
}

a {
    font-family: 'Aquarelle';
    text-decoration: none;
    font-size: 22px;
    color: black;
}

#Angelina {
    font-family: 'Aquarelle';
    text-decoration: none;
    font-size: 30px;
    color: black;
}

#Angelina:hover {
    color: green;
}

.iconflower {
    height: 22px;
    width: 22px;
    color: green;
}


@media screen and (max-width: 1200px) {

    body {
        background-image: url(mobilebg.jpg);
        background-size: cover; 
        max-width: 1000px;
        height: 1050px;
        margin: 0 auto;
       
    }

    .main {
       
        margin: 0px auto;
        padding: 0 50px;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        align-content: center;
    
        
    }

    .text-contact, .text-data, .text-plan, .text-road, .text-details {
        margin: 0 auto;
        font-family: 'Nexa';
        font-size: 22px;
    }

    .text-contact {
        padding: 0px 20px 40px 20px;
        
    }

    .text-data, .text-contact,  .text-details, .text-road p {
        text-align: center;
    }

    .dresscode {
            
            width: 100%;
            height: auto;
        
    }

    .iconflower {
        width: 22px;
        height: 22px;
        margin-right: 10px;
    }

    .AK {
        margin-top: 50px;
    }

    .AK h2 {
        font-size: 34px;
    }

    h2 {
        text-align: center;
        line-height: 1.1;
        font-size: 38px;
    }

    ul li {
        margin-left: auto;
        list-style: none;    
        padding: 0 auto;
    }

    hr {
        margin-top: 50px;
    }

    .footer {
        display: none;
    }


    
}

@font-face {
    font-family: "Aquarelle"; 
    src: url(Aquarelle.ttf);
    } 
 
@font-face {
    font-family: 'Nexa';
    src: url(nexa-script-thin.ttf)
}     

@font-face {
    font-family: 'Avdira';
    src: url(avdira-italic.otf)
}     